**/.dockerignore
**/.git
**/.vs
**/bin
**/obj
**/publish
**/tests
**/TestResults
*.user
*.suo
*.csproj.user
*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal
.DS_Store
docker-compose*.yml
.env
.env.*
*.sh
*.md